body {
    font-family: "微软雅黑";
    font-size: .28rem;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    color: #e0cfa7;
    background: #404040;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

div {
    word-wrap: break-word;
}


input {
    vertical-align: middle;
    outline: none;
}

a {
    text-decoration: none;
    color: #e0cfa7;
}

img {
    vertical-align: top;
}

label {
    font-family: Tahoma, Geneva, sans-serif;
    vertical-align: middle;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a, input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2, p, ul, li {
    margin: 0;
    padding: 0;
}
/********head*********/
.indexHead{
    color: #E0CFA7;
    background-color: #1F2126;
    overflow: hidden;
    text-align: center;
    border-bottom: .01rem solid;
}
.indexHead a{
    position: absolute;
    left: .2rem;
    top: 2.5%;
}
.indexHead h1{
    font-size: .36rem;
}
.left img{
    width: .4rem;
    float: left;
}
.search{
    overflow: hidden;
    text-align: center;
    position: relative;
    /*background-image: url(../image/sear.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: .3rem auto;
    background-position-x: 80%;*/
}

.a-ipt-search{
    height: .46rem;
    color: #000;
    padding-left: .15rem;
    font-size: 16px;
    width: 70%;
    border: 0.01rem solid #e0cfa7;
    border-radius: .5rem;
    margin: 0.16rem auto;
}

.groupList {
    overflow: hidden;
    margin-top: 2px;
    /*border-top: 0.01rem solid;*/
}
.groupList a {
    display: block;
    padding: .2rem;
    overflow: hidden;
}
.pic {
    float: left;
}
.leftImg {
    width: 2.6rem;
    height: 1.6rem;
}
.group-txt {
    float: left;
    margin: 0 .2rem;
    width: 50%;
}
.group-txt p {
    line-height: .5rem;
}
.group-txt p:nth-child(2) {
    font-size: .24rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.txt-color {
    color: #E34D78;
}
.txt-color del {
    color: #fff;
    padding-left: .2rem;
    font-size: .24rem;
}
.star-score{
    display: flex;
    display: -webkit-flex;
    position: absolute;
    right: .24rem;
}
.star-score-left{
    background: url("../image/star-left.png") left center;
    background-size: .24rem .22rem;
    background-repeat-y: no-repeat;
    width: .6rem;
    height: .22rem;
}
.star-score-right{
    background: url("../image/star-right.png") right center;
    background-size: .24rem .22rem;
    width: .6rem;
    height: .22rem;
}
.a-store-icon {
    display: inline-block;
    position: absolute;
    background-image: url(../image/sear.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: .3rem auto;
    height: .46rem;
    width: .4rem;
    right: 20%;
    top: 20%;
}





