body {
    font-family: "微软雅黑";
    font-size: .28rem;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    color: #e0cfa7;
    background: #404040;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

div {
    word-wrap: break-word;
}


input {
    vertical-align: middle;
    outline: none;
}

a {
    text-decoration: none;
    color: #e0cfa7;
}

img {
    vertical-align: top;
}

label {
    font-family: Tahoma, Geneva, sans-serif;
    vertical-align: middle;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a, input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2, p, ul, li, dl, dd {
    margin: 0;
    padding: 0;
}

/********head*********/
.indexHead{
    color: #E0CFA7;
    background-color: #1F2126;
    overflow: hidden;
    text-align: center;
    border-bottom: .01rem solid;
}
.indexHead a{
    position: absolute;
    left: .2rem;
    top: 2.5%;
}
.indexHead h1{
    font-size: .36rem;
}
.left img{
    width: .4rem;
    float: left;
}

.top-pic img{
    width: 100%;
}
.info{
    padding: .27rem .32rem;
    background-color: #26282C;
}
.info a{
    display: block;
    background-image: url(../image/arrowleft.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: .5rem auto;
}
.info .map{
    background-image: url(../image/map.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: .3rem auto;
    padding-left: .4rem;
}
li, dd{
    font-size: .24rem;
}
.info .content{
    margin: .25rem auto;
}
.bottom-pic{
    margin: .2rem .37rem;
    margin-bottom: 1.2rem;
}
.bottom-pic img{
    width: 100%;
}
.meal-detail{
    background-color: #26282C;
}
.meal-detail p{
    margin: .27rem .32rem;
    padding-top: .2rem;
}
.meal-detail ul{
    padding-bottom: .24rem;
    padding-left: .32rem;
    display: block;
}
.meal-detail ul li{
    line-height: .4rem;
}
.meal-detail ul li span{
    float: right;
    padding-right: .32rem;
}
.buy{
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: #1F2126;
}
.buy a{
    display: block;
}
.buy p:nth-child(1){
    float: left;
    display: block;
    height: .6rem;
    line-height: .6rem;
    margin: .2rem .3rem;
    font-size: .5rem;
    color: #E34D78;
}
.buy p:nth-child(2){
    float: right;
    width: 1.8rem;
    color: #fff;
    background-color: #E34D78;
    border-radius: .1rem;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    margin: .2rem .3rem;
}
.buy p del{
    color: #fff;
    font-size: .24rem;
    margin-left: .2rem;
}