input.check{ width: .48rem; height: .32rem; margin-right: .1rem; -webkit-appearance:none; background: url(${templateUrl}/shophelper/resource/icon/check_circle.png) no-repeat center top; background-size: .46rem auto; vertical-align: middle;}
input.check:checked{ background: url(${templateUrl}/shophelper/resource/icon/checked_circle.png) no-repeat center top; background-size: .26rem auto;}

.balance{position: relative; width:90%; height:auto; padding: .3rem 5% 0; background:url(${templateUrl}/shophelper/resource/icon/balance_bg.png) no-repeat; background-size:100% 100%; overflow: hidden;}
.b_head_img{ position: absolute; top: .2rem; left: 5%;  width:.64rem; height:.64rem; margin-right: .16rem; text-align: center; border-radius:.32rem;  background-color:#fff; overflow: hidden;}
.b_head_img img{ width: .52rem; height:.52rem;border-radius:.26rem; margin-top: .06rem;}
.balance>span{ position: absolute; right: 5%; top: .2rem; padding-left: .4rem; background: url(${templateUrl}/shophelper/resource/icon/ico51.png) no-repeat left center; background-size: .36rem auto;}
.balance>span a{ color: #fff; line-height: .6rem;}
.balance>p{ width: 100%; text-align: center; font-size: .26rem; color: #fff; padding-top: .4rem; line-height: .56rem;}
.balance>p span{ font-size: .56rem;}
.balance>ul{ width: 100%; margin-top: .2rem; padding: .16rem 0; border-top: 1px solid #fe9898; height: auto; overflow: hidden;}
.balance>ul>li a{ width: 49.5%; float: left; color: #fff; font-size: .22rem; text-align: center; border-left:1px solid #fe9898 ;}
.balance>ul>li:first-child a{ border-left: none;}

.con_balance{ width: 100%; padding: .3rem 3%; height: auto; overflow: hidden;}
.Recharge li{ float: left; margin: .1rem .1rem; padding: .1rem .16rem; color: #999; font-size: .22rem; line-height: .32rem; border: .04rem solid #999; border-radius: .06rem;}
.Recharge li.on{ border-color: #f26464; background: url(${templateUrl}/shophelper/resource/icon/ico52.png) no-repeat right -0.14rem bottom -0.08rem; background-size: .32rem auto;}
.con_balance .method,.con_balance .Amount{ width: 100%; margin: 0 auto;}
.con_balance .method h4,.con_balance .Amount h4,.con_balance .notice h4{ color: #666; padding: .2rem 0; font-size: .24rem;}
.con_balance .method ul{ padding: 0 0 .2rem; overflow: hidden;}
.con_balance .method ul li{ width: 48%; float: left; color: #777; padding-left: 2%;}
.con_balance .method ul li img{ width: .5rem; margin-right: .1rem; vertical-align: middle;}
.con_balance .method ul li label{ display: inline-block; width: 100%;}
.con_balance .Amount p{ text-align: right;}
.con_balance .Amount dl{ width: 100%; margin: 0 auto .2rem;  background: #f26464; overflow: hidden;}
.con_balance .Amount dt{ float: left; width: 70%; }
.con_balance .Amount dd{ float: right; width: 30%;}
.con_balance .Amount dt input{ width: 100%; border: 1px solid #ddd; border-right: 0; box-sizing: border-box; padding: 0; background: #fff; padding-left: 2%; border-radius: 0; line-height: .6rem;-webkit-appearance:none;}
.con_balance .Amount dd button{ width: 100%; line-height: .56rem; background: #f26464; color: #fff; padding: 0; font-size: .24rem;}
.con_balance .Amount p{ width: 100%; margin: .08rem auto; color: #999;}
.con_balance .Amount p em{ color: #f26464;}
.con_balance .notice{ width: 100%; padding: 0 3%; margin-top: .2rem; border-top: 1px solid #ccc;}
.con_balance .notice h4{ padding:.24rem 0 .16rem;}
.con_balance .notice p{ color: #777; line-height: .36rem;}
