#ext-viewport .x-layout-card-item{ background: #efefef;}
#ali-scan div{ width: 100%; padding:0 5%; height: auto; overflow: hidden;}
#ali-scan div p{ width: 100%; height: auto; overflow: hidden;}
#ali-scan div p.ali-scan-result { width: 65%; margin: 0 auto;padding: .6rem 0; margin-top: .2rem; text-align: center; font-size: .3rem; background: #fff; border-radius: .1rem;}
#ali-scan p input{ width: 92.9%; line-height: .5rem; padding: .1rem 0 .1rem .6rem; display: block; margin-top: .2rem; background: #fff; font-size: .22rem; border: 1px solid #ccc; border-radius: .1rem; color: #666;}
#ali-scan p input:focus{ border: 1px solid #fb6769;}
#ali-scan .passtab{position: absolute; width: .4rem; height: .2rem; left: 88%; top: .46rem;background: url(${templateUrl}/shophelper/resource/icon/ico65.png) no-repeat;background-size: .36rem auto;}
#ali-scan .passtab.curr{background: url(${templateUrl}/shophelper/resource/icon/ico70.png) no-repeat;background-size: .36rem auto;}
.ali-scan-wrap {}
.ali-scan-wrap button{ display: inline-block; box-sizing: border-box; margin-top: .4rem; font-size: .24rem; width: 48%; float: left;  color: #fff; line-height: .6rem; border-radius: .08rem;}
.ali-scan-wrap button:nth-child(1){ background: #6f6f6f;}
.ali-scan-wrap button:nth-child(2){ background: #000000; float:right;}
.ali_scan_title {text-align: center; padding: .4rem 0;}
.ali_scan_title img { width: 50%;}
.ali_scan_tips{text-align: center; padding: .2rem 0;}