/*init*/
html{font-size: 120px;}
body{ max-width: 768px; margin: 0 auto; font-family: 'Hiragino Sans GB', 'Microsoft YaHei', tahoma, arial, sans-serif; -webkit-font-smoothing:antialiased; color:#666; font-size:16px; }
ul, li{ list-style:none; }
input, button, textarea, select{ font-family:'Heiti SC', 'Microsoft YaHei', "sans-serif"; background:none; border:none; -webkit-appearance: none; appearance: none; outline: none; }

/*float*/
.g-fl{float: left;}
.g-fr{float: right;}
.g-clearfix{zoom:1}
.g-clearfix:after{display:block; clear:both; content:""; visibility:hidden; height:0;}

/*background-color*/
.g-bg-black{background-color: rgb(0, 0, 0);}
.g-bg-gray{background-color: rgb(0, 0, 0);}

/*font color*/
.g-c-f{color: #fff;}
.g-c-3{color: #333;}
.g-c-6{color: #666;}
.g-c-8{color: #888;}
.g-c-9{color: #999;}

/*position*/
.g-pos-rel{position: relative;}
.g-pos-abs{position: absolute;}

/*display*/
.g-dis-block{display: block;}
.g-dis-none{display: none}
.g-dis-flex{display: -webkit-flex; display: flex;}

/*text alignment*/
.g-txt-rt{text-align: right;}

/*opacity*/
.g-opacity-1{opacity: .1;}
.g-opacity-2{opacity: .2;}
.g-opacity-3{opacity: .3;}
.g-opacity-4{opacity: .4;}
.g-opacity-5{opacity: .5;}
.g-opacity-6{opacity: .6;}
.g-opacity-7{opacity: .7;}
.g-opacity-8{opacity: .8;}
.g-opacity-9{opacity: .9;}

/*padding*/
.g-pl-1{padding-left: 1rem;}

/*text-overflow*/
.g-txt-els{text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; overflow: hidden;}

/*gray-icon*/
.g-gray-icon{-webkit-filter: grayscale(100%); filter: grayscale(100%);}

/*search*/
.g-searchicon{position: absolute; width: .8rem; height: .8rem; background: rgba(255, 82, 84, .9) url(../icons/g-search-white.png) no-repeat center; background-size: .4rem auto; z-index: 9; right: .4rem; bottom: .4rem;}
.g-searchicon-round{border-radius: 50%;}
.g-search{width: 80%; margin: .2rem auto; border: 1px solid #ddd; border-radius: .06rem; padding: .08rem; box-shadow: 0 0 8px #fddfe0 inset;}
.g-search-ipt{display: block; width: 78.5%; padding-left: .2rem;}
.g-search-btn{position: relative; width: 20%; border-left: 1px solid #ddd; height:.44rem; line-height: .44rem;}
.g-search-btn:before{position: absolute; width: .4rem; height: 100%; top: 0; left: 50%; margin-left: -.16rem; font-size: .38rem;}
/*.g-search-btn span{position: absolute; width: .44rem; height: .44rem; margin-left: -1rem; margin-top: -.22rem; background:url(../icons/g-search.png) no-repeat center; background-size: .4rem auto; -webkit-filter: drop-shadow(.8rem 0 0 #F44A50); filter: drop-shadow(.8rem 0 0 #F44A50); }
.g-search-btn i{position: absolute; width: .44rem; height: .44rem; margin-left: -1rem; margin-top: -.22rem; background: #fff;}*/

/*price*/
.g-new-price{color: #ff6000; padding-right: .2rem; font-size: .3rem;}
.g-old-price{color: #999; text-decoration: line-through; font-size: .2rem;}

/*popup*/
.g-popup-container{ background:#fff; z-index:11; position:absolute; left:0; right:0; top:25%; max-width:90%; max-height:70%; margin:auto;border-radius:.1rem;overflow:hidden;}
.g-popup-container.center{top:0; bottom:0; max-height:80%;}

/*toast*/
.g-toast-container{ background:rgba(22, 22, 22, .5); color:white; margin:auto; padding:0 1em; position:absolute; left:0; right:0; bottom:15%; width:50%; max-width:80%; height:3em; border-radius:1.5em; line-height:3em; text-align:center; text-overflow:ellipsis; overflow:hidden; z-index:100;}

/*dropdown animation*/
.g-dropDownContent{position: absolute;height: 0; transition: height .5s; background: #fff; z-index: 9; overflow: hidden;}

/*checkbox、button、textarea*/
.g-checkbox label{position: relative;}
.g-checkbox .radio{position: absolute; width: .4rem; height: .4rem; top: 50%; margin-top: -.2rem; left: 50%; margin-left: -.2rem;}
.g-checkbox .radio:before{position: absolute; width: 100%; height: 100%; top: 0; left: 0; font-size: .4rem;}
.g-checkbox .icon-radio{display: block;}
.g-checkbox .icon-radiochecked{display: none;}
.g-checkbox input:checked + label .icon-radio{display: none;}
.g-checkbox input:checked + label .icon-radiochecked{display: inline-block;}
.g-checkbox .icon-checkbox{display: block;}
.g-checkbox .icon-checkboxchecked{display: none;}
.g-checkbox input:checked + label .icon-checkbox{display: none;}
.g-checkbox input:checked + label .icon-checkboxchecked{display: inline-block;}

.g-btn-sq{display: block; width: 70%; margin: .8rem auto .4rem; height: .66rem; line-height: 100%; font-size: .3rem; text-align:center; background: #ff5254; color: #fff; border-radius: .1rem; }
.g-texa{width: 90%; padding: .1rem 3%; border:1px solid #d6d3d3; border-radius: 3px;}

/*arrow*/
.g-arr-rt{background:#fff url(../icons/g-arr-right.png) no-repeat center right .2rem; background-size: .16rem auto;}
.g-arr-dn{background:url(../icons/g-arr-down.png) no-repeat top .24rem right .2rem; background-size: .3rem auto;}

/*slide、banner*/
.g-slide {width:100%; height:auto; position:relative; overflow:hidden;}
.g-slide .mod_01{background:#eee; display:table-cell; vertical-align:middle;}
.g-slide .mod_01 img{display:block; width: auto; height:auto; max-width:100%; max-height:100%; margin:0 auto;}
.g-slide .dotModule_new{padding:0 .5rem; height:.1rem; line-height:.1rem; border-radius:50%; position:relative; bottom:.3rem; margin:0 auto -1rem auto; z-index:11;}
.g-slide .slide_dot{text-align:center; margin:3px 0 0 0;}
.g-slide .slide_dot span{display:inline-block; margin:0 3px; width:.09rem; height:.09rem; vertical-align:middle; background: #aaa; border-radius:50%;}
.g-slide .slide_dot .selected{background: #c6a958;}

/*select qly*/
.g-qty-des, .g-qty, .g-qty-ins {float: left; font-size: .4rem;text-align: center; height: 100%;}
.g-qty{font-size: .3rem; width: 1rem; line-height: .5rem; height: .5rem; border: none; border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7; border-radius: 0;}
.g-qty-des, .g-qty-ins {background: #fff; border: 1px solid #d7d7d7; font-size: .24rem; color: #666; display: block; height: .5rem; line-height: .5rem; width: .5rem; overflow: hidden;}
.g-qty-des{border-radius: .05rem 0 0 .05rem;}
.g-qty-ins{border-radius: 0 .05rem .05rem 0;}

/*fullmask*/
.g-fullmask{background-color: rgba(0, 0, 0, 0.8); z-index: 10; position: fixed; top: 0; right: 0; bottom: 0; left: 0;}
.g-absolute-center{ position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; }
.g-load-all{width:30px; height:30px; -webkit-animation:kf-loading-rotate 1s infinite; animation:kf-loading-rotate 1s infinite; overflow:visible;}
.g-load-all .cssload-ball1,
.g-load-all .cssload-ball2,
.g-load-all .cssload-ball3,
.g-load-all .cssload-ball4{position:absolute; width:10px; height:10px; border-radius:50%; -webkit-animation:kf-loading-all 1s infinite ease; animation:kf-loading-all 1s infinite ease;}
.g-load-all .cssload-ball1{background-color:rgb(203, 32, 37); top:0; left:0;}
.g-load-all .cssload-ball2{background-color:rgb(248, 179, 52); top:0; left:20px;}
.g-load-all .cssload-ball3{background-color:rgb(0, 160, 150); top:20px; left:0;}
.g-load-all .cssload-ball4{background-color:rgb(151, 191, 13); top:20px; left:20px; }
@-webkit-keyframes kf-loading-all
{
	0%{
		position:absolute;
	}
	50%{
		top:10px;
		left:10px;
		position:absolute;
		opacity:0.5;
	}
	100%{
		position:absolute;
	}
}
@keyframes kf-loading-all
{
	0%{
		position:absolute;
	}
	50%{
		top:10px;
		left:10px;
		position:absolute;
		opacity:0.5;
	}
	100%{
		position:absolute;
	}
}

@-webkit-keyframes kf-loading-rotate
{
	0%{
		-webkit-transform:rotate(0deg) scale(1);
	}
	50%{
		-webkit-transform:rotate(360deg) scale(1.3);
	}
	100%{
		-webkit-transform:rotate(720deg) scale(1);
	}
}
@keyframes kf-loading-rotate
{
	0%{
		transform:rotate(0deg) scale(1);
	}
	50%{
		transform:rotate(360deg) scale(1.3);
	}
	100%{
		transform:rotate(720deg) scale(1);
	}
}

/*city selector*/
.m-select-gear{ font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:10px; background-color:rgba(0,0,0,0.8); display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9900; overflow:hidden; -webkit-animation-fill-mode:both}
.m-select-gear .area_ctrl{ vertical-align:middle; background-color:#d5d8df; color:#000; margin:0; height:auto; width:100%; position:absolute; left:0; bottom:0; z-index:9901; overflow:hidden; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
.m-select-gear .slideInUp{ animation:kf-slide-up .3s ease-in; -webkit-animation:kf-slide-up .3s ease-in}
.m-select-gear .area_roll{ display:-webkit-box; width:100%; height:auto; overflow:hidden; font-weight:bold; background-color:transparent; -webkit-mask:-webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36,142,36,0))); -webkit-mask:-webkit-linear-gradient(top, #debb47 50%, rgba(36,142,36,0))}
.m-select-gear .area_roll>div{ font-size:1.6em; height:10em; float:left; background-color:transparent; position:relative; overflow:hidden; -webkit-box-flex:1; flex:1;}
.m-select-gear .area_roll>div .gear{ width:100%; float:left; position:absolute; z-index:9902; margin-top:4em}
.m-select-gear .area_roll_mask{ -webkit-mask:-webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(bottom, #debb47 50%, rgba(36,142,36,0)); padding:0}
.m-select-gear .area_grid{ position:relative; top:4em; width:100%; height:2em; margin:0; box-sizing:border-box; z-index:0; border-top:1px solid #abaeb5; border-bottom:1px solid #abaeb5}
.m-select-gear .area_roll>div:nth-child(3) .area_grid>div{ left:42%;}
.m-select-gear .area_btn{ color:#fff; font-size:1.6em; line-height:1em; text-align:center; padding:.8em 1em; font-family:'Heiti SC', 'Microsoft YaHei', "sans-serif";}
.m-select-gear .area_btn_box:before,
.m-select-gear .area_btn_box:after{content:''; position:absolute; height:1px; width:100%; display:block; background-color:#96979b; z-index:15; -webkit-transform:scaleY(0.33); transform:scaleY(0.33)}
.m-select-gear .area_btn_box{ display:-webkit-box; -webkit-box-pack:justify;-webkit-box-align:stretch; background-color:#ff5254; position:relative}
.m-select-gear .area_btn_box:before{ left:0; top:0; -webkit-transform-origin:50% 20%; transform-origin:50% 20%}
.m-select-gear .area_btn_box:after{ left:0;bottom:0; -webkit-transform-origin:50% 70%; transform-origin:50% 70%}
.m-select-gear .tooth{ height:2em; line-height:2em; text-align:center; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden}

/*datetime selector*/
.gearYM,
.gearDate,
.gearDatetime,
.gearTime{font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:10px; background-color:rgba(0,0,0,0.8); display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9900; overflow:hidden; -webkit-animation-fill-mode:both; animation-fill-mode:both}
.date_ctrl{vertical-align:middle; background-color:#d5d8df; color:#333; margin:0; height:auto; width:100%; position:absolute; left:0; bottom:0; z-index:9901; overflow:hidden; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0)}
.slideInUp{animation:kf-slide-up .3s ease-in; -webkit-animation:kf-slide-up .3s ease-in}
.ym_roll,
.date_roll,
.datetime_roll,
.time_roll{display:-webkit-box; width:100%; height:auto; overflow:hidden;background-color:transparent; -webkit-mask:-webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36,142,36,0))); -webkit-mask:-webkit-linear-gradient(top, #debb47 50%, rgba(36,142,36,0))}
.ym_roll>div,
.date_roll>div,
.datetime_roll>div,
.time_roll>div{font-size:1.6em; height:10em; float:left; background-color:transparent; position:relative; overflow:hidden; -webkit-box-flex:4}
.ym_roll>div .gear,
.date_roll>div .gear,
.datetime_roll>div .gear,
.time_roll>div .gear{width:100%; float:left; position:absolute; z-index:9902; margin-top:-4em}
.date_roll_mask{-webkit-mask:-webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36,142,36,0))); -webkit-mask:-webkit-linear-gradient(bottom, #debb47 50%, rgba(36,142,36,0)); padding:0}
.date_roll>div:nth-child(2){-webkit-box-flex:2}
.date_roll>div:nth-child(1),
.datetime_roll>div:nth-child(1){-webkit-box-flex:4}
.datetime_roll>div:first-child{-webkit-box-flex:6}
.datetime_roll>div:last-child{-webkit-box-flex:6}
.date_grid{position:relative;top:4em; width:100%; height:2em; margin:0; box-sizing:border-box;z-index:0; border-top:1px solid #abaeb5; border-bottom:1px solid #abaeb5}
.date_grid>div{color:#666; position:absolute; right:0; top:0; font-size:1em; line-height:2em}
.date_roll>div:nth-child(3) .date_grid>div{left:42%}
.datetime_roll>div .date_grid>div{right:0}
.datetime_roll>div:first-child .date_grid>div{left:auto;right:0}
.datetime_roll>div:last-child .date_grid>div{left:50%}
.time_roll>div:nth-child(1) .date_grid>div{right:1em}
.ym_roll>div:nth-child(1) .date_grid>div{right:.1em}
.ym_roll>div .date_grid>div,
.time_roll>div .date_grid>div{right:5em}
.date_btn{color:#fff; font-size:1.6em; font-weight:bold; line-height:1em; text-align:center; padding:.8em 1em}
.date_btn_box:before,
.date_btn_box:after{content:''; position:absolute; height:1px; width:100%; display:block; background-color:#96979b; z-index:15; -webkit-transform:scaleY(0.33); transform:scaleY(0.33)}
.date_btn_box{display:-webkit-box; -webkit-box-pack:justify; -webkit-box-align:stretch; background-color:#4cc1d3; position:relative}
.date_btn_box:before{left:0; top:0; -webkit-transform-origin:50% 20%; transform-origin:50% 20%}
.date_btn_box:after{left:0; bottom:0; -webkit-transform-origin:50% 70%; transform-origin:50% 70%}
.date_roll>div:nth-child(1) .gear{text-indent:20%}
.date_roll>div:nth-child(2) .gear{text-indent:-20%}
.date_roll>div:nth-child(3) .gear{text-indent:-55%}
.datetime_roll>div .gear{width:100%;text-indent:-25%}
.datetime_roll>div:first-child .gear{text-indent:-10%}
.datetime_roll>div:last-child .gear{text-indent:-50%}
.ym_roll>div .gear,
.time_roll>div .gear{width:100%; text-indent:-70%}
.ym_roll>div:nth-child(1) .gear,
.time_roll>div:nth-child(1) .gear{width:100%; text-indent:10%}
.date_ctrl .tooth{height:2em; line-height:2em; text-align:center}

@-webkit-keyframes kf-slide-up
{
	from{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
	to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}
@keyframes kf-slide-up
{
	from{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
	to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}


/*five circle loading css*/
.m-loading-circle { display: block !important; font-size: 0; padding: 0;}
.m-loading-circle span {vertical-align: middle; border-radius: 100%; display: inline-block; width: 10px; height: 10px; margin: 0 2px; -webkit-animation: kf-loading-circle 0.8s linear infinite alternate; animation: kf-loading-circle 0.8s linear infinite alternate;}
.m-loading-circle span:nth-child(1) { -webkit-animation-delay: -1s; animation-delay: -1s; background: rgba(245, 103, 115,0.6);}
.m-loading-circle span:nth-child(2) { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; background: rgba(245, 103, 115,0.8);}
.m-loading-circle span:nth-child(3) { -webkit-animation-delay: -0.26666s; animation-delay: -0.26666s; background: rgba(245, 103, 115,1);}
.m-loading-circle span:nth-child(4) { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; background: rgba(245, 103, 115,0.8);}
.m-loading-circle span:nth-child(5) { -webkit-animation-delay: -1s; animation-delay: -1s; background: rgba(245, 103, 115,0.4);}

@keyframes kf-loading-circle {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}
@-webkit-keyframes kf-loading-circle {
	from {
		-webkit-transform: scale(0, 0);
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}


/*keyframe animation css*/
/*360°旋转*/
@-webkit-keyframes kf-rotate360 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes kf-rotate360 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*闪烁*/
@keyframes kf-blink
{
	0%{opacity: 1;}
	50%{opacity: 1;}
	50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为0，可以设置闪烁效果 */
	100%{opacity: 0;}
}
@-webkit-keyframes kf-blink
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

/*from the larger to the smaller*/
@-webkit-keyframes kf-scale-big-small{
	0%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
	50%{
		-webkit-transform:scale(1.5);
		transform:scale(1.5)
	}
	70%{
		-webkit-transform:scale(.8);
		transform:scale(.8)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}
@keyframes kf-scale-big-small{
	0%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
	50%{
		-webkit-transform:scale(1.5);
		transform:scale(1.5)
	}
	70%{
		-webkit-transform:scale(.8);
		transform:scale(.8)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}